<?xml version="1.0" encoding="UTF-8"?>
<Report xmlns="http://soap.sforce.com/2006/04/metadata">
    <columns>
        <field>Case.Reference_Date__c</field>
    </columns>
    <columns>
        <field>SUBJECT</field>
    </columns>
    <filter>
        <criteriaItems>
            <column>Case.Special_Occasion__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>contains</operator>
            <value>Spring Break</value>
        </criteriaItems>
        <criteriaItems>
            <column>Case.Reference_Date__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>LAST_N_DAYS:1095</value>
        </criteriaItems>
        <criteriaItems>
            <column>Account.Account_Status__c</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Active,Client</value>
        </criteriaItems>
        <criteriaItems>
            <column>ACCOUNT.TYPE</column>
            <columnToColumn>false</columnToColumn>
            <isUnlocked>true</isUnlocked>
            <operator>equals</operator>
            <value>Insider Client</value>
        </criteriaItems>
    </filter>
    <format>Summary</format>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>Case.Insider_Team__c</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <groupingsDown>
        <dateGranularity>Day</dateGranularity>
        <field>ACCOUNT.NAME</field>
        <sortOrder>Asc</sortOrder>
    </groupingsDown>
    <name>Spring Break Report 2024</name>
    <params>
        <name>units</name>
        <value>h</value>
    </params>
    <params>
        <name>co</name>
        <value>1</value>
    </params>
    <reportType>CaseList</reportType>
    <scope>organization</scope>
    <showDetails>true</showDetails>
    <showGrandTotal>true</showGrandTotal>
    <showSubTotals>true</showSubTotals>
    <timeFrameFilter>
        <dateColumn>CREATED_DATEONLY</dateColumn>
        <interval>INTERVAL_CUSTOM</interval>
    </timeFrameFilter>
</Report>
